:root {
    --dark-blue: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F0F2F5;
}

.container {
    width: min(90vw, 800px);

    margin: auto;
}

h2 {
    color: var(--dark-blue);
    font-weight: 400;

    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
}

header {
    background: #2D4A22;

    text-align: center;
    padding: 2rem 0 10rem;
}

#logo {
    font-weight: 100;
    color: #FFF;
}

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #FFF;

    margin-top: 0;
}

.card {
    color: var(--dark-blue);
    background: #FFF;

    border-radius: .2rem;

    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;

    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    color: #FFF;
    background: #49AA26;
}

#data-table {
    width: 100%;
    color: #969CB3;

    border-spacing: 0 .5rem;

}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: .2rem 0 0 0.2rem;
}

table th {
    font-weight: normal;
    background: #FFF;

    text-align: left;
    padding: 1rem 2rem;
    
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: #FFF;

    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12A454
}

td.expense {
    color: #E92929;
}

footer {
    color: var(--dark-blue);

    text-align: center;
    padding: 4rem 0 2rem;

    opacity: .6rem;
}